<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Noodle Hub</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <style>
    .card-img-top {
      width: 100%;
      height: 15rem;
      object-fit: cover;
    }
    </style>
  </head>

  <body>
    <header>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <span class="navbar-brand mb-0 h1">Noodle Hub</span>
        </div>
        <div class="navbar-right">
          <form action="" method="POST">
              <input type="hidden" name="cmd" value="lights"/>
              <input type="hidden" name="value" value={{ "1" if lightstate else "0" }}/>
              <button type="submit">Lights</button>
          </form>
        </div>
      </div>
    </header>
        <main role="main">
                <div class="album py-5 bg-light">
                  <div class="container">
                    <div class="row">
                      {% for p in printers %}
                      <div class="col-md-6 ">
                        <div class="card mb-6 box-shadow">
                          <!-- <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap"> -->
                          {% if online_status[p["name"]] %}
                            <img class="card-img-top" src="{{ p["stream-url"] }}" />
                          {% else %}
                            <img class="card-img-top" src="/static/test.png" />
                          {% endif %}
                          
                          <div class="card-body">
                            <h5 class="card-title">{{ p["name"] }}</h5>
                            <p class="text-muted">Code name: {{ p["code-name"] }}</p>
                            <p class="text-muted">Status: {% if online_status[p["name"]] %} Online {% else %} Offline {% endif %}</p>
                            {% if res and not result.success %}
                            <div class="alert alert-danger" role="alert">
                                <strong>Print in progress!</strong> You can not turn off the printer while it's printing.
                            </div>
                            {% endif %}
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <form action="" method="post">
                                  <input type="hidden" name="printer" value="{{ p["name"] }}" />
                                <a href="{{ p["url"] }}">
                                  <button type="button" class="btn btn-secondary">View</button>
                                </a>
                                {% if online_status[p["name"]] %}
                                  <input type="hidden" name="cmd" value="power_off" />
                                  <button type="submit" class="btn btn-secondary">Power off</button>
                                {% else %}
                                  <input type="hidden" name="cmd" value="power_on" />
                                  <button type="submit" class="btn btn-secondary">Power on</button>
                                {% endif %}
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
          
              </main>
          
              <footer class="text-muted">
                <div class="container">
                  <p>{{ info["copyright"] }}</p>
                  <p>{{ info["license"] }}</p>
                  <p>{{ info["email"] }}</p>
                </div>
              </footer>
          
              <!-- Bootstrap core JavaScript
              ================================================== -->
              <!-- Placed at the end of the document so the pages load faster -->
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.6/holder.min.js"></script>
            </body>
          </html>
          